Host ocne-operator
    HostName {{ ocne_operator_ip }}
    User {{ install_user }}
Host ocne-control
    HostName {{ ocne_control_ip }}
    User {{ install_user }}
Host ocne-worker
    HostName {{ ocne_worker_ip }}
    User {{ install_user }}
    